body {
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}

h1 {
    text-align: center;
    font-size: 40px;
}

select {
    margin: 20px;
}

footer {
    text-align: center;
        padding: 20px;
}

.container {
    padding: 30px;
    margin: 60px;
    background-color: whitesmoke;
    border-radius: 25px;
    opacity: .8;
}

.city {
    margin-bottom: 20px;
}
